/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans");
/* ==========================================================================
   2. GENERAL
   ========================================================================== */
   .rtll {
    direction: rtl;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #546E7A;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #546E7A;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #FE5A17;
}

a {
  color: #FE5A17;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #F97794 !important;
}

/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 80px 0;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}

.section-header .section-titleN {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}

.section-header .section-titleB {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}
.section-header .section-titleS {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}

.section-header .section-titleS {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}
.section-header .section-titleSS {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}

.section-header .section-titleN {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}
 
.section-header .section-title:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 50px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header .section-titleRR {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #263238;
  position: relative;
}
 
.section-header .section-titleRR:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 70px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header .section-titleB:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 330px;
  height: 2px;
  background: #FE5A17;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header .section-titleN:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 160px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}


.section-header .section-titleS:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 340px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header .section-titleSSS:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 320px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section-header .section-titleSS:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 380px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}



.section-header .section-titleM:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 180px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section-header .section-titleMM:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 100px;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header span {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.07);
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
}

/* ==========================================================================
   2.3 Social Iocns
   ========================================================================== */
.social-icons {
  margin-bottom: 20px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.social-icons ul li a:hover {
  color: #fff;
}

.facebook a {
  color: #4867AA;
}

.facebook a:hover {
  background: #4867AA;
}

.twitter a {
  color: #98a5ad;
}

.twitter a:hover {
  background: #98a5ad;
}

.google-plus a {
  color: #DD4D42;
}

.google-plus a:hover {
  background: #DD4D42;
}

.youtube a {
  color: #DF2926;
}

.youtube a:hover {
  background: #DF2926;
}

.linkedin a {
  color: #007BB6;
}

.linkedin a:hover {
  background: #007BB6;
}

.pinterest a {
  color: #BD081C;
}

.pinterest a:hover {
  background: #BD081C;
}

.dribbble a {
  color: #EA4C89;
}

.dribbble a:hover {
  background: #EA4C89;
}

.behance a {
  color: #0B7CFF;
}

.behance a:hover {
  background: #0B7CFF;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: #fff;
}

.mainmenu-area {
  padding: 10px 0;
  border: none;
  margin: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.mainmenu-area .menu-button {
  position: relative;
  color: #263238;
  line-height: 58px;
  top: 0;
  outline: none;
}

.logo-menu a {
  font-size: 20px;
  color: #fff;
}

.menu-bg {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 3px;
}

.menu-bg .menu-button {
  top: 0;
}

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #F97794;
}

.menu-bg .logo-menu a {
  color: #F97794;
}

.menu-bg .navbar-nav .nav-link {
  color: #263238 !important;
}

.menu-bg .navbar-nav .nav-link:hover {
  color: #dfd1d4 !important;
}

.menu-bg .navbar-nav .active {
  color: #F97794 !important;
}

.menu-button:hover {
  cursor: pointer;
  opacity: #eee;
}

.bg-white {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 5px;
}

.bg-white .menu-button {
  top: 0;
}

.bg-white .menu-button:hover {
  cursor: pointer;
  color: #FE5A17;
}

.bg-white .logo-menu a {
  color: #FE5A17;
}

.bg-white .navbar-nav .nav-link {
  color: #263238 !important;
}

.bg-white .navbar-nav .nav-link:hover {
  color: #FE5A17 !important;
}

.bg-white .navbar-nav .active {
  color: #FE5A17 !important;
}

.close-button {
  cursor: pointer;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  padding: 5px 0px;
  margin-left: 30px;
  position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #FE5A17;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand img {
  max-width: 115px;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #FE5A17;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #FE5A17;
}

.navbar-expand-md .navbar-toggler {
  background: #FE5A17;
  border-radius: 0px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #fff !important;
}

.mainmenu-area .navbar-nav .nav-link {
  color: #263238 !important;
}

.collapse.show {
  background: #3e3a3a;
  margin-bottom: 10px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.menu-bg .collapse.show {
  background: #fff;
  margin-bottom: 10px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.navbar-expand-md .navbar-toggler:active {
  border: 1px solid #FE5A17;
  color: #F97794;
}

/* Services Item */
.item-boxes {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin: 15px 0;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-boxes .icon {
  margin-bottom: 10px;
}

.item-boxes .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #F97794;
}

.item-boxes h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.item-boxes p {
  margin: 0;
}

.item-boxes:hover {
  background: transparent;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.services-item {
  padding: 30px 15px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .icon {
  margin-bottom: 20px;
}

.services-item .icon i {
  width: 60px;
  height: 60px;
  background: #f9f9f9;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .color-1 i {
  background: #FAE3E3;
  color: #D82928 !important;
}

.services-item .color-2 i {
  background: #E6F8ED;
  color: #57D283 !important;
}

.services-item .color-3 i {
  background: #E3EAFA;
  color: #457BF4 !important;
}

.services-item .color-4 i {
  background: #F3EAD6;
  color: #f1a90a !important;
}

.services-item .color-5 i {
  background: #E7E6FF;
  color: #7271FF !important;
}

.services-item .color-6 i {
  background: #DEDEDE;
  color: #35393D !important;
}

.services-item .services-content {
  padding-left: 65px;
}

.services-item .services-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.services-item .services-content h3 a {
  color: #272727;
}

.services-item .services-content h3 a:hover {
  color: #F97794;
}

.services-item:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.services-item:hover .icon i {
  background: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.featured-bg {
  background: #fafafa;
}

.featured-bg .intro-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.featured-bg .title-sub {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 36px;
}

.featured-bg .intro-desc {
  margin-bottom: 20px;
}

.featured-bg .featured-item {
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.featured-bg .featured-item .icon {
  float: left;
  padding-right: 15px;
}

.featured-bg .featured-item .icon i {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  color: #F97794;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.featured-bg .featured-item h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}

.featured-bg .featured-item h3 a {
  color: #272727;
}

.featured-bg .featured-item h3 a:hover {
  color: #F97794;
}

/* ==========================================================================
   Featured Section Start
   ========================================================================== */
.featured-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.featured-box .featured-icon {
  float: left;
}

.featured-box .featured-icon i {
  font-size: 30px;
  color: #F97794;
  text-align: center;
  float: left;
  margin-right: 25px;
  margin-bottom: 85px;
  display: block;
}

.featured-box .featured-content {
  padding-left: 40px;
  position: relative;
}

.featured-box .featured-content .icon-o {
  font-size: 86px;
  color: rgba(0, 0, 0, 0.07);
  z-index: 2;
  font-weight: 400;
  text-transform: capitalize;
  position: absolute;
  top: 0px;
  left: 50px;
  width: 100%;
}

.featured-box .featured-content h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.featured-box .featured-content p {
  font-size: 14px;
}

/* ==========================================================================
 Team Section
   ========================================================================== */
.single-team:hover .team-details {
  opacity: 1;
}

.single-team {
  position: relative;
  background: #f9f9f9;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  border-radius: 0px;
  overflow: hidden;
}

.single-team:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.single-team img {
  width: 100%;
}

.single-team .team-inner {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details {
  padding: 20px;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details .team-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #263238;
}

.single-team .team-details p {
  margin-bottom: 15px;
}

.single-team .social-list li {
  display: inline-block;
}

.single-team .social-list li a {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
  color: #F97794;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .social-list .facebook a:hover {
  background: #4867aa;
  color: #fff;
}

.single-team .social-list .twitter a:hover {
  background: #21aaff;
  color: #fff;
}

.single-team .social-list .youtube a:hover {
  background: #dd4d42;
  color: #fff;
}

.single-team .social-list .linkedin a:hover {
  background: #007bb6;
  color: #fff;
}

.testimonial {
  background: #f9f9f9;
}

.testimonial-item {
  padding: 30px;
  margin: 15px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.testimonial-item .author {
  display: inline-block;
  margin-bottom: 20px;
}

.testimonial-item .author .img-thumb {
  float: left;
  overflow: hidden;
  position: relative;
}

.testimonial-item .author .img-thumb img {
  border-radius: 50%;
  width: 75%;
}

.testimonial-item .author .author-info {
  float: left;
  padding: 3px 0;
}

.testimonial-item .author .author-info h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
}

.testimonial-item .author .author-info h2 a {
  color: #484848;
}

.testimonial-item .author .author-info h2 a:hover {
  color: #F97794;
}

.testimonial-item .content-inner {
  overflow: hidden;
}

.testimonial-item .content-inner .description {
  width: 100%;
  margin-bottom: 10px;
}

.testimonial-item .content-inner span {
  color: #F97794;
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #F97794;
}



/* ==========================================================================
   Footer Style
   ========================================================================== */

#copyright {
  background-color: #ffffff;
  padding: 20px 0 10px;
  border-top: 1px solid #eaeaea;
  color: #546E7A;
}
